*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: royalblue;
}
#page2{
    height: 100%;
    width: 100%;
}
#page2 #box{
    height: 100%;
    width: 0%;
    background-color: lightpink;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#page3{
    height: 100%;
    width: 100%;
    background-color: seagreen;
}