*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: royalblue;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
#page2 #text{
    font-size: 80vh;
    font-weight: 500;
    text-transform: uppercase;
    color: lightgoldenrodyellow;
    /* padding-left: 10vw; */
}
#page3{
    height: 100%;
    width: 100%;
    background-color: lightseagreen;
}